--extra-index-url https://download.pytorch.org/whl/cu113/torch_stable.html
streamlit
opencv-python
streamlit-webrtc
aiortc
ultralytics
torch
torchvision
torchtext
torchaudio
numpy
pandas
matplotlib
Pillow
PyYAML
ollama
